@import url('https://fonts.googleapis.com/css?family=Montserrat');


* {
    font-family: 'Montserrat', sans-serif;
}

.chat-container {
    margin: auto;
    margin-top: 10px;
    height: 700px;
    width: 550px;
    background-image: linear-gradient(to right bottom, #e326d9, #cb39e3, #b047eb, #9251f1, #6d59f5, #695cf7, #655ef8, #6161fa, #8261fc, #9d60fc, #b660fc, #cd5ffb);
    border-radius: 30px;
    box-shadow: 0 0 7px 3px grey;
}
/* DESIGN HEADER */
.chat-header {
    display: flex;
    background-color: inherit;
    height: 70px;
}

.chat-header-title {
    flex: 70%;
    margin: 5px;
    text-align: right;
}

.chat-logOutButton {
    text-align: right;
    flex: 30%;
    padding: 20px 50px 10px 10px;
}

.chat-logOutButton > button {  
    outline: none; 
    background-color: inherit;
    border: 2px solid rgb(220, 44, 220);
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
}

.chat-logOutButton > button:hover{
    background-color: rgba(214, 53, 226, 0.64);

}

/* DESIGN CHATWINDOW */
.chat-window { 
    overflow: scroll;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
}

::-webkit-scrollbar{
    background-color: inherit;
    width: 20px;
    border-radius: 10px;

}
::-webkit-scrollbar-thumb{
    background-color: rgb(66, 83, 238);
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
    background: none;
}

/* DESIGN MESSAGE */
.chatt-message{
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;
    padding:7px;
}

.chatt-timestamp{
    flex: 40%;
    margin: 0;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    background:  #f0f8ff8c;
    border-radius: 0 10px 0 0;
}

.chatt-username{
    flex: 50%;
    margin: 0;
    font-size: 14px;
    background:  #f0f8ff8c;
    text-align: center;
    border-radius: 10px 0 0 0;
    font-weight: bold;

}

.chatt-content{
    margin: 0;
    background-color: #f0f8ff8c;
    width: 100%;
    height: auto;
    border-radius: 0 0 10px 10px;
    word-wrap: break-word;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px;

}

/* DESIGN ANSWER-DIV */
.answer-div{
    height: 100px;
    width: 500px;
    margin: auto;
    display: flex;
    position: relative;
}

.answer-input{
    outline: none;
    position: absolute;
    left: 85px;
    width: 300px;
    height: 80px;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    font-size: 20px;

}


.answer-sendbutton {
    outline: none;
    position: absolute;
    right: 20px;
    bottom: 0;
    background-color: inherit;
    border: 2px solid rgb(220, 44, 220);
    height: 95px;
    width: 70px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}

.answer-sendbutton:hover {
    background-color: rgba(214, 53, 226, 0.64);
}
