@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}

.login-container{
    margin: auto;
    margin-top: 10px;
    height: 700px;
    width: 550px;
    background-image: linear-gradient(to right bottom, #e326d9, #cb39e3, #b047eb, #9251f1, #6d59f5, #695cf7, #655ef8, #6161fa, #8261fc, #9d60fc, #b660fc, #cd5ffb);
    border-radius: 30px;
    box-shadow: 0 0 7px 3px grey;
}

/* DESIGN HEADER */
.login-header{
    text-align: center;
}

.login-header-title{
    margin: 0;
    padding-top: 170px;
    font-size: 45px;
}

.login-header-title_chatup{
    margin-top: 20px;
    font-size: 80px;
    text-shadow: 0px 6px 7px grey
}

/* DESIGN FORM */
.login-form{

}

.login-form-username, .login-form-password{
    text-align: center;
    margin:20px 115px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

input{
    height: 25px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}

/* DESIGN LOGIN BUTTON */

.login-button{
    margin: auto;
    background-color: inherit;
    height: 100px;
    margin-left: 170px;
    border: none;
    outline: none;
    font-size: 60px;
}

.login-button:hover{
    text-decoration: underline;
}



